#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #4a73e8;
    border: none;
    border-radius: 999px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    transition: opacity 0.3s, transform 0.3s;
}

#backToTop:hover {
    background-color: #4a73e8;
    color: white;
    transform: scale(1.1);
}