.content-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

/* ARTICLE */
.article-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 100px 80px;
}

.article-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.article-sub-title {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 1.5rem;
}

.article-content {
    font-size: 1.1rem;
    color: #555;
}

.article-content p {
    align-items: center;
}

/* YOU MIGHT BE INTERESTED */
.categories {
    margin-top: 40px;
    padding-bottom: 80px;
}

.categories h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    border-bottom: 3px solid #4a73e8;
    padding-bottom: 5px;
    font-weight: 700;
}

.category {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-item {
    flex: 1 1 calc(33.33% - 20px);
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #4a73e8;
    /* TRANSITION MƯỢT */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-item:hover {
    /* HIỆU ỨNG NỔI */
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.category-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.category-item h4 {
    margin-top: 10px;
    font-size: 1.3em;
    color: #4a73e8;
    font-weight: 900;
}

.category-item p {
    font-weight: 600;
}